site_name: Stream API Documentation
docs_dir: docs
nav:
    - Home: index.md
    - Python Implementation: python.md
    - C# Implementation: csharp.md
    - API Reference: api.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
